<br>
<br>
<div id="divGoShop">
  <a id="btnGoShop" href="/collections/all" class="more boton2">
  	IR AL SHOP
  </a>
</div>
<br>
<br>

{% schema %}
  {
    "name": "goToShop",
	"class": "datacue-banners",
    "settings": [],
  	"presets": [
    {
      "category": "DataCue",
      "name": "goToShop"
    }
  ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
