<div class="search-results">
  <div class="clear">
    <div class="not">
      <h2 class="h3">ERROR 404</h2>
      <p>Lo sentimos, la página que buscabas<br>
        no está disponible...</p>
      <a class="boton2" href="/">Volver al home →</a>

      <div class="margin-top: 30px;">
        <!-- Powered by DataCue [https://www.datacue.co/] -->
        <div data-dc-products></div>
      </div>
    </div>
  </div>
</div>