<div class="page grid">
  
  <div class="item"></div>
			
  <div class="inside-page">

    <h2 class="h3">{{ page.title }}</h2>

    <div class="rte">

      {{ page.content }}

    </div>

  </div>

</div>