{% section 'product-section' %}

<div>
  <!-- Powered by DataCue [https://www.datacue.co/] -->
  <div data-dc-products></div>
</div>

{% comment %}
  <div class="pro-sec4">
      {% section 'product-recommendations' %}
  </div>

  {% assign collGuide = collection.handle %}

  {% if collGuide != blank %}

  <div class="pro-sec5">
    <div class="featured-collection related relatedcoll">

      <h2 class="h3">Otros productos de la colección:</h2>

      <ul class="grid">
        {% for product in collections[collGuide].products limit: total_products %}

          {% include 'product-item' %}

        {% endfor %}
      </ul>

    </div>
  </div>

  {% endif %}
{% endcomment %}
